<!-- <a href="" (click)="goBack()">Go Back</a> -->
<section class="primary-info">
    <div class="product-description">
        <img src="{{product.image.desktop}}" alt="{{product.slug}}">
        <div class="content">
            @if(product.new == true){
                <h2>NEW PRODUCT</h2>
            }
            <h3>{{product.name.toUpperCase()}}</h3>
            <p>{{product.description}}</p>
            <p class="price">$ {{product.price}}</p>
            <div class="buttons">
                <div class="quantity-wrapper">
                    <button (click)="reduce()">-</button>{{cartQuantity}}<button (click)="increase()">+</button>
                </div>
                <button class="btn-3"(click)="addToCart()">ADD TO CART</button>
            </div>           
        </div>
    </div>

    <div class="features-details">
        <div class="features-wrapper">
            <h4>FEATURES</h4>
            <p>{{product.features}}</p>
        </div>
        <div class="in-the-box-wrapper">
            <h4>IN THE BOX</h4>
            @for(item of product.includes; track item.name){
                <p><span>{{item.quantity}}x</span> {{item.item}}</p>
            }
        </div>      
    </div>

        <div class="galary-wrapper">
            <div class="image-set1">
                <img src="{{product.gallery.first.desktop}}" alt="{{product.slug}}">
                <img src="{{product.gallery.second.desktop}}" alt="{{product.slug}}">
            </div>
            <img src="{{product.gallery.third.desktop}}" alt="{{product.slug}}" class="image-set2">
        </div>
</section>


