<section class="navigation">
  <nav class="nav-bar">
    <h1 class="app-title">audiophile</h1>
    <ul class="nav-links">
      <li><a routerLink="/">HOME</a></li>
      <li><a routerLink="/headphones">HEADPHONES</a></li>
      <li><a routerLink="/speakers">SPEAKERS</a></li>
      <li><a routerLink="/earphones">EARPHONES</a></li>
    </ul>
    <button>
      <img src="../../assets/shared/desktop/icon-cart.svg" alt="cart" class="svg-cart" />
    </button>
  </nav>
  <hr>
</section>

<router-outlet />
