.app-title{
    font-size: 2rem;
    font-weight: 800;
    color: #FAFAFA;
}

.nav-bar{
    width: 80%;
    margin: auto;
    /* margin-top: 20px; */
    padding: 1rem;
    background-color: #101010;
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.nav-links a{
    color: #FAFAFA;
    text-decoration: none;
    margin: 0 1rem;
}
.nav-links a:hover{
    color: #D87D4A;
}

button{
    /* padding: 0.5rem 1rem; */
    border: none;
    /* border-radius: 5px; */
    background-color: #101010;
    color: #FAFAFA;
    cursor: pointer;
    margin: 0.5rem;
}
img{
    width: 100%;
    height: auto;
    fill: #FAFAFA;
    background-color: #101010;
}

.navigation{
    background-color: #101010;
    padding-top:1.2rem;
}

hr{
    border: 1px solid #FAFAFA;
    width: 80%;
    margin: auto;
}