<section class="navigation">
  <nav class="nav-bar">
    <h1 class="app-title">audiophile</h1>
    <ul class="nav-links">
      <li><a routerLink="/">HOME</a></li>
      <li><a routerLink="/headphones">HEADPHONES</a></li>
      <li><a routerLink="/speakers">SPEAKERS</a></li>
      <li><a routerLink="/earphones">EARPHONES</a></li>
    </ul>
    <button>
      <img src="../../assets/shared/desktop/icon-cart.svg" alt="cart" class="svg-cart" />
    </button>
  </nav>
  <hr>
</section>

<router-outlet />

<section class="company-description">
  <div class="text-section">
    <h2>BRINGING YOU THE <span>BEST</span> AUDIO GEAR</h2>
    <p>Located at the heart of New York City, Audiophile is the premier store for high end headphones, 
      earphones, speakers, and audio accessories. We have a large showroom and luxury demonstration 
      rooms available for you to browse and experience a wide range of our products. Stop by our store 
      to meet some of the fantastic people who make Audiophile the best place to buy your portable 
      audio equipment.</p>
  </div> 
  <img src="../../assets/shared/desktop/image-best-gear.jpg" alt="image-best-gear">
</section>


<section class="footer">
  <footer>
    <hr>
    <div class="footer-links">
      <h3>audiophile</h3>
    <ul>
      <li><a routerLink="/">HOME</a></li>
      <li><a routerLink="/headphones">HEADPHONES</a></li>
      <li><a routerLink="/speakers">SPEAKERS</a></li>
      <li><a routerLink="/earphones">EARPHONES</a></li>
    </ul>
    </div>
    
    <p>Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music lovers 
      and sound specialists who are devoted to helping you get the most out of personal audio. Come and 
      visit our demo facility - we’re open 7 days a week.</p>
    <p>Copyright 2021. All Rights Reserved</p>
    <div class="social-media">
      <a href=""><img src="../../assets/shared/desktop/icon-facebook.svg" alt="facebook" class="svg-facebook"/></a>
      <a href=""><img src="../../assets/shared/desktop/icon-twitter.svg" alt="twitter" class="svg-twitter"/></a>
      <a href=""><img src="../../assets/shared/desktop/icon-instagram.svg" alt="instagram" class="svg-instagram" /></a>
    </div>
  </footer>
</section>