.hero {
    background-color: #101010;
    color: #F1F1F1;
    width: 100%;
    height: 25vh;
  }
  
  .hero h2 {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 3rem;
    letter-spacing: 0.25rem;
    padding-bottom: 2em;
  }
  
  .categories {
    margin: auto;
    margin-top: 4rem;
    width: 80%;
  }
  
  .card-wrapper {
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .card {
    margin: 2rem;
    display: flex;
    margin-top: 5rem;
    position: relative;
    width: 21em;
    height: 14em;
    border-radius: 1em;
    background-color: #F1F1F1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  
  .card img {
    position: absolute;
    bottom: 6rem;
    width: 65%
      /* height: 10rem; */
  }
  
  .card-contents {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .card-contents>* {
    margin: 0.5rem;
    letter-spacing: 2px;
  }
  
  .card-contents h4 {
    font-size: 1.5rem;
    line-height: 20px;
    color: #101010;
  }
  
  .card-contents a {
    font-size: 13px;
    line-height: 20px;
    color: #101010;
    opacity: 0.5;
    font-weight: 700;
    text-decoration: none;
  }
  
  .card-contents a:hover {
    color: #D87D4A;
  }
  
  .card-contents span {
  
    color: #D87D4A;
  }
  
  .card-contents a:active {
    color: #FBAF85;
  }
  
  .earphones-wrapper {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }
  
  .earphone-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .earphone-card img {
    width:50%;
    /* height: 60vh; */
    object-fit: scale-down;
  }
  
  .earphone-description{
    width: 50%;
    padding: 5%;
  }
  
  .earphone-description h2 {
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.45em;
    font-weight: 300;
    color: #D87D4A;
    margin-bottom: 1.5rem;
  }
  
  .earphone-description h3 {
    font-size: 2rem;
    line-height: 1em;
    letter-spacing: 2px;
    font-weight: 700;
    color: #101010;
    margin-bottom: 1.5rem;
    /* margin: 0 3rem; */
  
  }
  
  .earphone-description p {
    font-size: 0.7em;
    line-height: 1.5rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: #101010;
    opacity: 0.8;
    margin-bottom: 1rem;
  }
  
  .btn-3{
    margin: 3rem;
    margin-left: 0rem;
    background-color: #D87D4A;
    color: #F1F1F1;
    border: none;
    padding: 10px 20px;
    letter-spacing: 2px;
    cursor: pointer;
  }